*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    width: 24rem;
    margin-top: 4rem;
    background: linear-gradient(to right, #88cdf6, #2d82b5);
    border-radius: 16px;
}

.title{
    text-align: center;
    margin-top: 20px;
}

.add-task{
    margin: 16px 8px;
}

.add-task label{
    font-size: 1.2rem;
}

.text-input{
    padding: 5px;
    border: 0;
    border-radius: 8px;
}

.add-button{
    font-size: 0.9rem;
    padding: 6px;
    border: 0;
    border-radius: 8px;
}

.add-button:hover{
    background-color: turquoise;
}

.task-list{
    list-style: none;
    margin: 16px 24px;
}

.task-list li{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    font-size: 1.2rem;
    position: relative;
}

.task-list li input[type = 'checkbox']{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #222;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0.4rem;
}

.task-list li input[type = 'checkbox']:checked{
    background-color: #2bdb31;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.task-list li button{
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 0;
}

.task-list li img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.task-list li img:hover{
    background-color: #777;
    cursor: pointer;
}